<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hello"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="33">
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Hello.NoActionBar"
            tools:ignore="CustomSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AnnouncementActivity"
            android:exported="false"
            android:theme="@style/Theme.Hello" />
        <activity
            android:name=".activity.AnnouncementDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Hello" />
        <activity
            android:name=".activity.LabActivity"
            android:exported="false"
            android:theme="@style/Theme.Hello"
            android:label="实验室" />
        <activity
            android:name=".activity.RateMonitorActivity"
            android:exported="false"
            android:theme="@style/Theme.Hello"
            android:label="汇率监控" />
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Hello" />
        <activity
            android:name=".activity.VerificationActivity"
            android:exported="false"
            android:theme="@style/Theme.Hello" />
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.Hello"
            android:label="关于" />
        <activity
            android:name=".activity.ScanLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Hello" />
        <activity
            android:name=".activity.ScanCaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VpnLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Hello" />
    </application>

</manifest>
